header{
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    background: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

header > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

header > nav > a{
    color: #434343;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
}

header > .nav_btn_wrap{
    display: flex;
    gap: 1rem;
}
.nav_btn_wrap > .nav_open{
    background: none;
    font-size: 1rem;
    color: #A02279;
    display: none;
}

.nav_logo{
    display: none;
    position: fixed;
    left: 2rem;
    top: 2rem;
    max-width: 150px;
}

.nav_close{
    display: none;
    font-size: 1.5rem;
    background: none;
    color: #FFF;
}

header > .nav_btn_wrap > .nav__btn{
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border-radius: 10px;
    padding: 10px 20px;
    border: 0;
    color: #FFF;
}
@media (max-width: 900px) {
    header{
        justify-content: space-between;
        padding-bottom: 1rem;
    }
    header > img{
        width: 150px;
    }
    .nav_close{
        display: flex;
        position: fixed;
        right: 2rem;
        top: 2rem;
    }
    .nav_btn_wrap > .nav_open{
        display: block;
    }
    header > nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.4rem;
        background-color: #A02279;
        transition: 1s;
        transform: translateX(-100vw);
        z-index: 1;
    }
    header > nav > a{
        color: #FFF;
    }
    .nav_logo{
        display: block;
    }


    .res_nav{
        transform: none;
    }
}

/* Connect */

.modal, .over{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.over{
    background: rgba(172, 171, 171, 0.785);
}

.connect{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 30rem;
    /* transform: translateX(-100vw); */
    transform: translate(-50%, -50%);
    transition: 2s;
    border: none;
    padding: 1rem 0;
    background: #FFFFFF;
    border-radius: 16px;
    z-index: 100;
}

.top_connect{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #CFD8DC;
}

.foot_connect{
    text-align: left;
    padding: 1rem;
    padding-bottom: 0;
}

.foot_connect > p{
    font-size: 0.8rem;
    padding: 0.6rem 0;
}
.foot_connect > span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #CFD8DC;
    border-radius: 12px;
    padding: 0.8rem;
    margin: 0.6rem auto;
    background: #F8F9FA;
}
.foot_connect > span > span{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

@media (max-width: 550px) {
    .connect{
        max-width: 20rem;
    }
}